/* * {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
  flex-wrap: wrap;
  /* max-width: 100%; 
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  width: 100%;
  flex-wrap: wrap;
}

.app__stats__boxes {
  border: 1px solid yellow;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.app__stats__boxes div{
  /* max-width: 100%;
  border:1px solid red;
}


.app__left {
  border: 1px solid purple;
  flex: 5;
  max-width: 100%; 
}
.app__right{
  flex:2;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

*/


 /*app maps  
.app__maps{
 border: 1px solid red;
 width: 100%;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__stats{
    flex-direction: column;
  }
  .app__stats__boxes{
    flex-direction: column;
  }
} */

.app{
  padding: 30px;
}